/*ADD DROPPED STYLES BY RESET.CSS*/
//reset styles set font-size inherit for sub, sub and small tags
sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

small {
  font-size: smaller;
}
/*ADD DROPPED STYLES BY RESET.CSS*/

strong, .strong {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}